#!/bin/env direnv

# shellcheck disable=SC1008

# kube
KUBECONFIG="$(pwd)/.kube/config"

# helm
HELM_HOME="$(pwd)/.helm"
HELM_CACHE_HOME="$HELM_HOME/cache"
HELM_CONFIG_HOME="$HELM_HOME/config"
HELM_DATA_HOME="$HELM_HOME/data"

# exports
export KUBECONFIG
export HELM_HOME HELM_CACHE_HOME HELM_CONFIG_HOME HELM_DATA_HOME
